.form-field__start-align-label .ant-form-item-label {
  text-align: start;
}

.form-field__start-align-label .ant-form-explain {
  text-align: start;
}

.form-field__end-align-label .ant-form-item-label {
  text-align: end;
}

.form-field__end-align-label .ant-form-explain {
  text-align: end;
}
