#app {
  background-color: #979797;
}

body {
  background-color: #979797;
}

.rtl__input-direction {
  text-align: right;
  direction: rtl !important;
  unicode-bidi: bidi-override !important;
}

thead.ant-table-thead th {
  font-weight: bold !important;
  background-color: #9ea5ab57;
  text-align: center;
  white-space: nowrap;
}

.ant-input[disabled] {
  color: #8d8d8d;
  background-color: #f4f4f4;
  cursor: not-allowed;
  opacity: 1;
}
